.information h5{
    height: 20px;
    line-height: 20px;
    margin-bottom: 22px;
    font-size: 16px;
}

.information .el-row{
    margin-bottom: 40px;
}

.information ul li{
    margin-bottom: 34px;
    font-size: 14px;
}
.information ul li:last-child{
    margin-bottom: 0;
}
.information ul li .left{
    display: inline-block;
    color: #a5a9b3;
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.information ul li .right{
    display: inline-block;
    margin-left: 40px;
    color: #414755;
}

.information .el-table tr:nth-child(2n+2){
    background-color: #fff!important;
}
.information .el-table th,
.information .el-table td{
    text-align: center;
}

.information .el-dialog--center .el-dialog__body{
    padding: 25px 70px 0;
}
.information .el-dialog .el-form-item:last-child{
    margin-bottom: 0;
}

.information .el-dialog .el-button{
    width: 174px;
}

.information .el-dialog p{
    line-height: 40px;
}

.information .verification .code{
    width: 104px;
    position: absolute;
    top: 0;
    right: 0;
}

/* 联系我们 */
.contact_us .el-row{
    margin-bottom: 30px;
}
.contact_us h5{
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 20px;
}
.contact_us p{
    font-size: 14px;
    margin-bottom: 10px;
}
.contact_us a{
    display: block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #DCDFE6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.contact_us .social a{
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    line-height: 1;
    white-space: nowrap;
    background: #FFF;
    text-align: center;
    transition: .1s;
    font-weight: 500;
    float: left;
    margin-right: 10px;
}
.contact_us .social a img{
    vertical-align: middle;
}


/* VIP专享 */
/* VIP专享-列表 */
.vip_only_list{
    height: 120px;
    display: flex;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .04);
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    position: relative;
}
.vip_only_list img {
    display: flex;
    height: 108px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.vip_only_list .flag{
    width: 50px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 10px 0 10px 0;
    z-index: 1;
    background-color: #08b552
}
.vip_only_list .right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.vip_only_list .right .conter {
    display: inline-block;
    width: 320px;
    color: #414755;
    font-size: 14px;
}
.vip_only_list .right .conter h5{
    font-size: 20px;
}
.vip_only_list .right .el-button {
    width: 140px;
    height: 40px;
    float: left;
    position: relative;
    line-height: 0;
}

.vip_only_detail .inner {
    width: 1200px;
    margin: 25px auto;
}
.vip_only_detail .el-main {
    width: 100%;
    min-height: 980px;
    background-color: #fff;
    border-radius: 10px;
    float: right;
}

.vip_only_detail .rule p,
.vip_only_detail .give p{
    margin-bottom: 8px;
    color: #333;
}
.vip_only_detail .rule,
.vip_only_detail .give {
    margin-bottom: 20px;
}

.vip_only_detail .table{
    margin-bottom: 30px;
}
.vip_only_detail table th,
.vip_only_detail table td{
    text-align: center;
}

.vip_only_detail h5{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #414755;
}
.vip_only_detail p{
    font-size: 14px;
    margin-bottom: 8px;
}


@media screen and (max-width: 768px){
    .vip_only_detail .inner{
        width: 100%;
        margin: 0;
    }
    .vip_only_detail .el-main{
        min-height: auto;
        border-radius: 0;
        padding: 5%;
    }
}